<nav class="m-auto border">
  <div class="w-11/12 md:w-4/5 m-auto flex justify-between items-center">
    <a routerLink="/">
      <img src="/assets/logo.jpg" class="w-20" />
    </a>
    <ul class="flex w-2/4 md:w-1/4 justify-between">
      <li>
        <a routerLink="/" class="capitalize hover:text-primary transition-all"
          >home</a
        >
      </li>
      <li>
        <a routerLink="/" class="capitalize hover:text-primary transition-all"
          >search</a
        >
      </li>
      <li>
        <a routerLink="/" class="capitalize hover:text-primary transition-all"
          >wish-list</a
        >
      </li>
    </ul>
  </div>
</nav>
