/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@font-face {
    src: url('/assets/fonts/Tajawal-Regular.ttf');
    font-family: Tajawal;
}

:root {
    --mainFont: Tajawal;
    --mainColor: #2ecc71
}



* {
    font-family: var(--mainFont);
}
